body {
  font-family: monospace;
}

.button-wrapper {
  display: inline-flex;
}

.toggle-button {
  width: 150px;
  height: 30px;
  border: 1px solid #000;
  border-radius: 4px;
  border-width: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px;
  cursor: pointer;
}
